<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <appSettings>

    <add key="IdTemplateEmailToCustomer" value="7"/>
    <add key="FilterImageFile" value="jpe,jpg,jpeg,gif,png,bmp"/>
    <add key="PriceFile" value="doc,rar,zip,txt"/>

    <add key="PageSize" value="5"/>
    <add key="NavigationGroupSize" value="10"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <add key="PathAfterLogin" value="Admin/SongManage.aspx"/>
    <add key="PathAccessDeny" value="../Default.aspx"/>
    <add key="PathForErrorUrlClient" value="SongListSearch.aspx"/>
    <add key="DangerousFile" value="exe,ini"/>
    <add key="PathFilePrice" value="/PriceTable"/>

    <!--Image path-->
    <add key="PathImageItem" value="/ItemImage"/>
    <add key="PathImageAdvertise" value="/ItemImage/qc"/>
    <add key="PathFilePriceBoard" value="/UploadFile"/>

    <!--Id in table info-->
    <add key="PriceId" value="1"/>
    <add key="ItemTemplateId" value="2"/>
    <add key="PathImageNewsHot" value="/ImageNewsHot"/>
    <!--config mail for admin-->
    <add key="EmailFrom1" value="trongtayninh@yahoo.com"/>
    <add key="EmailFrom" value="sales@muathegiare.vn"/>
    <add key="YourHost" value="localhost"/>

  </appSettings>
  <connectionStrings>
    <add name="ConnectDBHH" connectionString="Data Source=SERVER2;Initial Catalog=nuocsachtn;Max Pool Size=50000; Min Pool Size=100;User ID=sa;pwd=P@ss7799;Connection Timeout=30"
      providerName="System.Data.SqlClient" />
	  <add name="ConnectDBkk" connectionString="Data Source=SERVER2\SQLEXPRESS;Initial Catalog=nuocsachtn;User ID=nuocsachtn;pwd=tinhgia!1!1;Connection Timeout=30"
  providerName="System.Data.SqlClient" />
    <add name="ConnectDB" connectionString="Data Source=User-PC;Initial Catalog=TRACKER;Integrated Security=True;Max Pool Size=1000000 ; Min Pool Size=100;"
      providerName="System.Data.SqlClient" />

    <add name="ConnectDBt" connectionString="Data Source=SERVER79\SQLEXPRESSS;Initial Catalog=nuocsachtn;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="thanhananConnectionString1" connectionString="Data Source=THIENTRI;Initial Catalog=thanhanan;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->

    <httpHandlers>

    </httpHandlers>

    <customErrors mode="Off">
      <error statusCode="403" redirect="error.htm"/>
      <error statusCode="404" redirect="error.htm"/>
    </customErrors>
    <httpRuntime executionTimeout="9050" maxRequestLength="72096" enable="true"/>
    <identity impersonate="true"/>
	<pages enableViewStateMac="false" />
	    <sessionState
           mode="InProc"
           stateConnectionString="tcpip=127.0.0.1:42424"
           sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
           cookieless="false"
           timeout="600"
    />
  </system.web>
</configuration>